## Dunno why there was KiCad stuff in here before
## but this should be fixed now

# release build outputs
releases/*.zip
releases/_temp-*/

# OS junk
Thumbs.db
.DS_Store

# IDE files
.idea/
*.iml
.vscode/
